div.indiceCantidad{
  position: absolute;
  top: 0px;
  right: 10px;
  color: #ffae00;
  font-size: 22px;
  background-color: rgb(172, 94, 31);
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.navbar.navbar-expand-lg {
    background-color: #7D5A50;
    border-color: #ffffff;
    font-size: 21px;
    font-weight: bold;
  }
  .navbar.navbar-expand-lg .navbar-brand {
    color: #292929;
  }
  .navbar.navbar-expand-lg .navbar-brand:hover,
  .navbar.navbar-expand-lg .navbar-brand:focus {
    color: #ffd4d4;
  }
  .navbar.navbar-expand-lg .navbar-text {
    color: #292929;
  }
  .navbar.navbar-expand-lg .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar.navbar-expand-lg .navbar-nav > li > a:hover,
  .navbar.navbar-expand-lg .navbar-nav > li > a:focus {
    color: #ff7b00;
  }
  .navbar.navbar-expand-lg .navbar-nav > .active > a,
  .navbar.navbar-expand-lg .navbar-nav > .active > a:hover,
  .navbar.navbar-expand-lg .navbar-nav > .active > a:focus {
    color: #ffd4d4;
    background-color: #7D5A50;
  }
  .navbar.navbar-expand-lg .navbar-nav > .open > a,
  .navbar.navbar-expand-lg .navbar-nav > .open > a:hover,
  .navbar.navbar-expand-lg .navbar-nav > .open > a:focus {
    color: #ffd4d4;
    background-color: #7D5A50;
  }
  .navbar.navbar-expand-lg .navbar-toggle {
    border-color: #ffffff;
  }
  .navbar.navbar-expand-lg .navbar-toggle:hover,
  .navbar.navbar-expand-lg .navbar-toggle:focus {
    background-color: #7D5A50;
  }
  .navbar.navbar-expand-lg .navbar-toggle .icon-bar {
    background-color: #7D5A50;
  }
  .navbar.navbar-expand-lg .navbar-collapse,
  .navbar.navbar-expand-lg .navbar-form {
    border:none;
  }
  .navbar.navbar-expand-lg .navbar-link {
    color: #292929;
  }
  .navbar.navbar-expand-lg .navbar-link:hover {
    color: #ffd4d4;
  }
  
  
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  
  .nav.navbar-nav > li.navbar-left {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
  }
  
  .navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 90%;
    width: auto;
  }
  
  .banner {
      width: 100%;
      /*background-color: #c3d7df;*/
  }
  
  .banner-inner {
      max-width: 1100px;
      margin: 0 auto;
  }
  @media (min-width:768px) and (max-width:991px){
    .container.navbar-container {
       width:100%;
       padding:0;
    }
  }

  @media (max-width: 991px) {
    li{
      font-size: 24px;
    }
    .navbar-brand{
      display: none;
    }
    nav{
      margin-right: -10px;
    }
  }

  a:visited {
    color: inherit;
  }